<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.manish.navratri" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"  />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:roundIcon="@drawable/app_logo"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity android:name="net.manish.navratri.activity.MainActivity"/>

        <activity android:name="net.manish.navratri.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="net.manish.navratri.activity.SetAsWallpaperActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>

        <activity
            android:name="net.manish.navratri.activity.MessageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>

        <activity
            android:name="net.manish.navratri.activity.AboutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>

        <activity
            android:name="net.manish.navratri.activity.ActivityYoutubeVideo"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:exported="false" />
        <activity
            android:name=".activity.VideoPlayer"
            android:configChanges="orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.manish.navratri.activity.SingleWallpaper"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>

        <activity
            android:name="net.manish.navratri.activity.SettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>

        <activity
            android:name="net.manish.navratri.activity.QuizActivity"
            android:label="@string/title_activity_quiz"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>


        <meta-data android:name="com.onesignal.NotificationServiceExtension"
            android:value="net.manish.navratri.util.OnesignalNotificationHelper" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>